@font-face {
  font-family: 'Roboto Regular';
  src: url('./Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('./Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto Black';
  src: url('./Roboto-Black.ttf');
}