@import '../../../style/variables.scss';


header {
  padding: 30px 20px 0;
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: transparent;
    .logo {
      width: 165px;
      flex:1
      img {
        width:100%;
        height: auto;
      }
    }
    .navbar-burger {
      position: absolute;
      top:0;
      right:0;
    }
    // 
    .navbar-burger {
      span {
        width: 40px;
        height: 5px;
        left: inherit;
        right: 0;
        background-color: black;
        &:nth-child(1){
          top:calc(50% - 12px)
        }
        &:nth-child(3) {
          top:calc(50% + 10px)
        }
      }
      &:hover {
        background-color: transparent;
      }
      &.is-active {
        span {
          &:nth-child(1){
            top:calc(50% - 7px)
          }
          &:nth-child(3) {
            top:calc(50% + 3px)
          }
        }
      }
    }
    // 
    .navbar-menu {
      //
      justify-content: flex-end; 
      flex-grow:0;
      margin-top:10px;
      .navbar-start {
        justify-content: flex-end;
        align-content: center;
      }
      a {
        color: white;
        padding: 5px 10px;
        &:hover {
          background-color: #000;
        }
      }
      // 
      @media screen and (max-width: $md) {
        position: fixed;
        margin-top:0px;
        width: 85%;
        font-size:8vw;
        height: 100%;
        top:0;
        right: -85%;
        background-color: black;
        padding: 36px 0 0 25px;
        // a {
        //   color:white;
        // }
        &.active {
          right: -10px;
          display: block;
        }
      }
      
      
    }
  }
}