@import '../../../style/variables.scss';

.order1 {
  order:1;
}
.order2 {
  order:2;
}
.order3 {
  order: 3;
}
// placeholders colors
%greenBorder {
  border:6px solid $green;
  @media screen and (min-width:$md){
    border:3px solid $green;
  }
}
%blueBorder {
  border:6px solid $blue;
  @media screen and (min-width:$md){
    border:3px solid $blue;
  }
}
%orangeBorder {
  border:6px solid $orange;
  @media screen and (min-width:$md){
    border:3px solid $orange;
  }
}

// Bigger
%greenBiggerTriangle {
  border-bottom:55px solid $green;
  border-left: 50px solid transparent; 
  border-right: 55px solid transparent;
  @media screen and (min-width:$md){
    border-bottom:90px solid $green;
    border-left: 65px solid transparent; 
    border-right: 100px solid transparent;
  }
}
%blueBiggerTriangle {
  border-bottom:55px solid $blue;
  border-left: 50px solid transparent; 
  border-right: 55px solid transparent;
  @media screen and (min-width:$md){
    border-bottom:90px solid $blue;
    border-left: 65px solid transparent; 
    border-right: 100px solid transparent;
  }
}
%orangeBiggerTriangle {
  border-bottom:55px solid $orange;
  border-left: 50px solid transparent; 
  border-right: 55px solid transparent;
  @media screen and (min-width:$md){
    border-bottom:90px solid $orange;
    border-left: 65px solid transparent; 
    border-right: 100px solid transparent;
  }
}

// Smaller
%greenSmallerTriangle {
  border-bottom:30px solid $green;
  border-left: 30px solid transparent; 
  border-right: 30px solid transparent;
  @media screen and (min-width:$md){
    border-bottom:40px solid $green;
    border-left: 40px solid transparent; 
    border-right: 40px solid transparent;
  }
}
%blueSmallerTriangle {
  border-bottom:30px solid $blue;
  border-left: 30px solid transparent; 
  border-right: 30px solid transparent;
  @media screen and (min-width:$md){
    border-bottom:40px solid $blue;
    border-left: 40px solid transparent; 
    border-right: 40px solid transparent;
  }
}
%orangeSmallerTriangle {
  border-bottom:30px solid $orange;
  border-left: 30px solid transparent; 
  border-right: 30px solid transparent;
  @media screen and (min-width:$md){
    border-bottom:40px solid $orange;
    border-left: 40px solid transparent; 
    border-right: 40px solid transparent;
  }
}
// 
.top {
  padding: 0px 20px 0;
  @media screen and (min-width:$md){
    display: grid;
    grid-template-columns: repeat(2);
    width:1204px;
    min-width: 1204px;
    margin: 0 auto;
  }
  .geometric {
    @media screen and (min-width:$md){
      height: 350px;
      order:2;
      grid-column:2;
      position: relative;
      margin-bottom: 0;
    }

    position: relative;
    margin-bottom:40px;
    

    .circle {
      width: 65px;
      height: 65px;
      border-radius: 100%;
      &.circle-one {
        margin-top: 5vw;
        margin-left: calc(50% - 130px);
        @media screen and (min-width:$md){
          position: absolute;
          bottom: 10px;
          left: 105px;
        }
      }
      &.circle-two {
        display: none;
        @media screen and (min-width:$md){
          width:120px;
          height: 120px;
          display: block;
          position:absolute;
          top:0;
          left:230px;
        }
      }
    }
    .rectangle {
      width: 65px;
      height: 15px;
      transform: rotate(30deg);
      @media screen and (min-width:$md){
        width: 95px;
        transform: rotate(62deg);
      }
      &.rectangle-one {
        margin-top: 15vw;
        margin-left: calc(50% - 20px);
        @media screen and (min-width:$md){
          position: absolute;
          bottom: 147px;
          left: 330px;
          margin-left: 0;
          margin-top: 0;
        }
      }
      &.rectangle-two {
        margin-top: 20vw;
        margin-left: calc(50% - 50px);
        @media screen and (min-width:$md){
          margin-top:0;
          margin-left: 0;
          position: absolute;
          bottom: 110px;
          right: 67px;
        }
      }
    }
    .circle, .rectangle {
      
      &.border-green {
        @extend %greenBorder;
      }
      &.border-blue {
        @extend %blueBorder;
      }
      &.border-orange {
        @extend %orangeBorder;
      }
    }
    .circle, .rectangle, .triangle {
      transition:all 500ms;
    }

    .triangle {
      width:0;
      height:0;
      &.triangle-one {
        transform: rotate(190deg);
        margin-top: 20vw;
        margin-left: calc(50% - 80px);
        @media screen and (min-width:$md){
          margin-top:0;
          margin-left: 0;
          position: absolute;
          top:145px;
          right:220px;
          transform: rotate(-101deg);
        }
        &.border-green {
          @extend %greenSmallerTriangle;
        }
        &.border-blue{
          @extend %blueSmallerTriangle;
        }
        &.border-orange{
          @extend %orangeSmallerTriangle;
        }
      }
      &.triangle-two {
        transform: rotate(150deg);
        margin-top: -12vw;
        margin-left: calc(50% + 10px);
        @media screen and (min-width:$md){
          margin-top:0;
          margin-left: 0;
          position: absolute;
          bottom:15px;
          left:145px;
          transform: rotate(-59deg);
        }
        &.border-green {
          @extend %greenBiggerTriangle;
        }
        &.border-blue{
          @extend %blueBiggerTriangle;
        }
        &.border-orange{
          @extend %orangeBiggerTriangle;
        }
      }
    }
  }

  .thumbs {
    margin-top:55px;
    @media screen and (min-width:$md){
      order:1;
      grid-column:1;
      margin-top: 270px;
    }
    .column {
      width: calc(100% / 3);
      height: 80px;
      margin: 0 15px;
      transition:all 400ms;
      @media screen and (min-width:$md){
        height: 90px;
        cursor: pointer;
        
      }
      &.order1 {
        transform: scale(1.2);
        &::after {
          content: '';
          position: absolute;
          top:-8px;
          bottom:-8px;
          left:-8px;
          right:-8px;
          transition:all 400ms;
        }
      }
      &.blue {
        background-color: $blue;
        &.order1 {
          &::after {
            border: 4px $blue solid;
            @media screen and (min-width:$md){
              border: 2px $blue solid;
            }
          }
        }
      }
      &.green {
        background-color: $green;
        &.order1 {
          &::after {
            border: 4px $green solid;
            @media screen and (min-width:$md){
              border: 2px $green solid;
            }
          }
        }
      }
      &.orange {
        background-color: $orange;
        &.order1 {
          &::after {
            border: 4px $orange solid;
            @media screen and (min-width:$md){
              border: 2px $orange solid;
            }
          }
        }
      }
    }
  }

  .frog {
    @media screen and (min-width:$md){
      order:3;
      grid-column:2;
      justify-content: flex-end;
      display: flex;
      img {
        justify-content: right;
        display: flex;
        width: 500px;
        height: auto;
        margin: -20px 75px 0 0;
      }
    }
  }
}