html,body {font-family: 'Roboto Regular';}
body {
  // padding: 30px 20px 0;
  min-height: 100%;
  height: 100%;
  display: block;
  width: 100%;
  background: url('../images/background.png') center -520px no-repeat #e5e5e5;
  // background-size: contain;
}
.contentMain {
  max-width: 1204px;
  margin: 0 auto;
}
.menuActive {
  margin-left:-80%;
}
