$sm: 360px;
$md: 768px;
$lg: 1204px;
$xl: 1820px;

$blue:#3399CC;
$green: #33CC99;
$orange: #FF9933;
$gray-dark: #666;
$gray:#ccc;
$white: #fff;
$greenLightButton: #7AB800;
$greenButton: #5B8F22;
$black: #000;