@import '../../../style/variables.scss';

body {
  &.green {
    .about {
      &::before {
        border-bottom: 53px solid $green;
        border-left: 36px solid transparent; 
        border-right: 54px solid transparent;
      }
      .text {
        &::after {
          border:4px dashed $green;
        }
        ::selection {
          background: $green;
          color:$white;
        }
      }
    }
  }
  &.blue {
    .about {
      &::before {
        border-bottom: 53px solid $blue;
        border-left: 36px solid transparent; 
        border-right: 54px solid transparent;
      }
      .text {
        &::after {
          border:4px $blue dashed;
        }
        ::selection {
          background: $blue;
          color:$white;
        }
      }
    }
  }
  &.orange {
    .about {
      &::before {
        border-bottom: 53px solid $orange;
        border-left: 36px solid transparent; 
        border-right: 54px solid transparent;
      }
      .text {
        &::after {
          border:4px $orange dashed;
        }
        ::selection {
          background: $orange;
          color:$white;
        }
      }
    }
  }
}


.about {
  margin-top: 170px;
  padding: 0px 0px 70px 20px;
  position: relative;
    
  &::before {
    content: "";
    width: 0;
    height: 0;
    position:absolute; 
    top:-45px;
    right: 30px;
    transform: rotate(-100deg);
    border-bottom: 50px solid $green;
    border-left: 37px solid transparent; 
    border-right: 55px solid transparent;
    @media screen and (min-width:$md){
      right: inherit;   
      left: 305px;
    }
  }
  
  .title {
    text-transform: uppercase;
    font-family: 'Roboto Black';
    font-size: 60px;
    margin-bottom: 100px;
    &::before {
      content: 'marca';
      text-transform: lowercase;
      align-items: end;
      height: 80px;
      display: flex;
      border-left: 5px solid $gray-dark;
      color: $gray-dark;
      margin: 0 0px 20px 35px;
      padding-left: 15px;
      font-family: 'Roboto Regular';
      font-size:30px;
    }
    @media screen and (min-width:$md){
      padding-left: 50%;
    }
  }
  .text {
    overflow: hidden;
    position: relative;
    @media screen and (min-width:$md){
      padding-left: 50%;
      overflow: visible;
      margin-top: 90px;
      &::before {
        content: '';
        position: absolute;
        width: 400px;
        height: 400px;
        background: url('../../../images/sapo_about_desk.png') bottom left no-repeat $white;
        background-size: auto 364px;
        top: -65px;
        left: 278px;
        z-index: 1;
      }
      p {
        z-index: 3;
      }
    }
    p {
      position: relative;
      z-index: 1;
      font-size: 6vw;
      margin-bottom: 7vw;
      padding-right: 32vw;
      line-height: 11vw;
      &:first-child {
        font-size: 8vw;
        background: url('../../../images/sapo_about.png') right 20px no-repeat $white;
        background-size: auto 190px;
        padding: 30px 31vw 10px 20px;
        line-height: 12vw;
      }

      @media screen and (min-width:$md){
        font-size: 35px;
        line-height: 42px;
        margin-bottom: 25px;
        padding-right: 0;
        &:first-child {
          font-size: 35px;
          line-height: 42px;
          background: transparent;
          padding: 0;
          margin-bottom: 25px;
        }
      }
    }
    // 
    &::after {
      content: '';
      display: block;
      width: 300px;
      height: 300px;
      border-radius: 100%;
      position: absolute;
      right: -29vw;
      bottom: 60vw;
      z-index: 0;
      border:6px $green dashed;
      @media screen and (min-width:$md){
        right: inherit;
        left: 90px;
        bottom: 25px;
        width: 400px;
        height: 400px;
        border: 4px $green dashed;
      }
    }
  // 
  }

  .links {
    @media screen and (min-width:$md){
      display: grid;
      grid-template-columns: 230px 270px;
      padding-left: 50%;
    }
    a {
      display: flex;
      align-items: center;
      height: 49px;
      padding-left: 15px;
      font-size: 7vw;
      color:$white;
      background-color: $greenLightButton;
      width: 270px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        display: block;
        top:0;
        right: -17px;
        height: 49px;
        width: 50px;
        background-color: $greenLightButton;
        transform: skewX(35deg);
      }
      &:first-child {
        background-color: $greenButton;
        margin-bottom: 20px;
        width: 180px;
        &::after {
          content: "";
          position: absolute;
          display: block;
          top:0;
          right: -17px;
          height: 49px;
          width: 50px;
          background-color: $greenButton;
          transform: skewX(-35deg);
        }
        @media screen and (min-width:$md){
          &::before {
            display: none;
          }
        }
      }

      @media screen and (min-width:$md){
        font-size: 24px;
        padding-left: 20px;
        &::after {
          transform: skewX(-35deg);
        }
        &::before {
          content: "";
          position: absolute;
          display: block;
          top:0;
          left: -16px;
          transform: skewX(-35deg);
          height: 49px;
          width: 34px;
          background-color: $greenLightButton;
        }
      }
    }
  }
}