@import '../../../style/variables.scss';
// 
.brand {
  @media screen and (min-width:$md){
    .contentMain {
      display: grid;
      grid-template-columns: 50% 50%;
      
      .title {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
      }
      .coordinates, .jumperFrog {
        grid-row-start: 2;
        grid-row-end: 2;
      }
    }
  }
  .contentSkewY {
    background-color: $white;
    transform: skewY(4deg);  
    padding-bottom: 50px;
    .contentNormal {
      transform: skewY(-4deg);
      @media screen and (min-width:$md){
        padding-bottom: 60px;
        
      }

      .title {
        font-family: 'Roboto Black';
        font-size: 60px;
        padding: 80px 20px 0;
        &::before {
          content: "O SAPO";
          text-transform: lowercase;
          align-items: end;
          height: 80px;
          display: flex;
          border-left: 5px solid $gray-dark;
          color: $gray-dark;
          margin: 0 0px 20px 35px;
          padding-left: 15px;
          font-family: 'Roboto Regular';
          font-size:30px;
        }
        @media screen and (min-width:$md){
          padding-left: 10px;
        }
      }
      // 
      .coordinates {
        background-color: $gray;
        padding: 30px 0px 30px 50px;
        display: grid;
        @media screen and (min-width:$md){
          width: 511px;
          height: 546px;
        }
        label {
          margin-bottom: 30px;
          font-size:7vw;
          display: flex;
          align-items: center;
          input {
            height: 40px;
            border:inherit;
            border-bottom:3px solid $black;
            background-color: transparent;
            margin-top: 4px;
            margin-left: -15px;
            padding-left: 25px;
            font-size:15px;
            outline: none;
          }
          @media screen and (min-width:$md){
            font-size:38px;
            margin-bottom:20px;
            input {
              width: 360px;
              margin-left: -24px;
              padding-left: 30px;
              font-size: 40px;
            }
          }
        }
        button {
          height: 50px;
          width: 155px;
          background: $greenLightButton;
          border:none;
          color:$white;
          font-size:6vw;
          text-align: left;
          padding-left: 15px;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            display: block;
            top:0;
            right: -17px;
            height: 50px;
            width: 50px;
            background-color: $greenLightButton;
            transform: skewX(-35deg);
          }

          @media screen and (min-width:$md){ 
            width: 166px;
            font-size: 25px;
          }
        }
      }
      // 
      .jumperFrog {
        width:100%;
        height: 550px;
        position: relative;
        padding: 0 20px;
        overflow: hidden;
        // frog
        .frog {
          width:160px;
          height: 105px;
          position: absolute;
          background: url('../../../images/SAPO.svg') center no-repeat;
          background-size: contain;
          bottom:15px;
          left:20px;
          // transition: all ease-in-out 500ms;
          animation-duration: 1s;
          animation-iteration-count: 1;
        }
        .jumping {
          animation-name: jumper-frog;
          animation-timing-function: ease-in-out;
          animation-fill-mode: forwards;
        }
        @keyframes jumper-frog {
          0% {transform:translate(0, 0);}
          25% {transform:translate(5px, -250px);}
          50% {transform:translate(50px, -150px);}
          75% {transform:translate(55px, -400px);}
          100% {transform:translate(155px, -300px);}
        }
        // 
        // goal
        .goal {
          width: 608px;
          height: 1px;
          position: absolute;
          top: 236px;
          left: -178px;
          transform: rotate(62deg);
          border-bottom: 35px dashed $green;
        }
        // 
      }
    }
  }
}

// .brand .contentSkewY .contentNormal .jumperFrog .goal
body {
  &.green {
    .contentSkewY {
      .contentNormal{
        .jumperFrog{
          .goal {
            border-bottom: 35px dashed $green;
          }
        }
      }
    }
  }
  &.blue {
    .contentSkewY { 
      .contentNormal{
        .jumperFrog {
          .goal {
            border-bottom: 35px dashed $blue;
          }
        }
      }
    }
  }
  &.orange {
    .contentSkewY {
      .contentNormal{
        .jumperFrog {
          .goal {
            border-bottom: 35px dashed $orange;
          }
        }
      }
    }
  }
}