@import '../../../style/variables.scss';

.Footer {
  background: $greenButton;
  margin-top: -56px;
  display: flex;
  justify-content: center;
  padding:115px 0 56px 0px;
   img {
     width: 200px;
     height: auto;
      margin-top: 15px;   
   }
}